flows (1).json
[{"id":"7e7cc250.78237c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"61b655fc.ca3fdc","type":"ui_form","z":"7e7cc250.78237c","name":"","label":"","group":"6230facd.2469f4","order":1,"width":0,"height":0,"options":[{"label":"Averageheartbeatpermin","value":"Averageheartbeatpermin","type":"number","required":true,"rows":null},{"label":"Palpitationsperday","value":"Palpitationsperday","type":"number","required":true,"rows":null},{"label":"Cholestrol","value":"Cholestrol","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX","value":"SEX","type":"text","required":true,"rows":null},{"label":"Familyhistory","value":"Familyhistory","type":"text","required":true,"rows":null},{"label":"Smokinglast5years","value":"Smokinglast5years","type":"text","required":true,"rows":null},{"label":"Exerciseminutesperweak","value":"Exerciseminutesperweak","type":"number","required":true,"rows":null}],"formValue":{"Averageheartbeatpermin":"","Palpitationsperday":"","Cholestrol":"","BMI":"","AGE":"","SEX":"","Familyhistory":"","Smokinglast5years":"","Exerciseminutesperweak":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":60,"wires":[["47a311b7.c47ff","d62a8be0.a98ed8"]]},{"id":"47a311b7.c47ff","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":20,"wires":[]},{"id":"d62a8be0.a98ed8","type":"function","z":"7e7cc250.78237c","name":"pre-token","func":"global.set(\"Averageheartbeatpermin\",msg.payload.Averageheartbeatpermin)\nglobal.set(\"Palpitationsperday\",msg.payload.Palpitationsperday)\nglobal.set(\"Cholestrol\",msg.payload.Cholestrol)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.Tenure)\nglobal.set(\"SEX\",msg.payload.Balance)\nglobal.set(\"Familyhistory\",msg.payload.Familyhistory)\nglobal.set(\"Smokinglast5years\",msg.payload.Smokinglast5years)\nglobal.set(\"Exerciseminutperweak\",msg.payload.Exerciseminutesperweak)\nvar apikey=\"q4Keu5Ys354W89jkMktoSksbrHhXJ_wgbftIGKdyBvRq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":120,"wires":[["27bce76d.42aea8"]]},{"id":"27bce76d.42aea8","type":"http request","z":"7e7cc250.78237c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":60,"wires":[["c301f265.6cca6","676b1308.457dac"]]},{"id":"c301f265.6cca6","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"676b1308.457dac","type":"function","z":"7e7cc250.78237c","name":"Pre Prediction","func":"var Averageheartbeatpermin  = global.get(\"Averageheartbeatpermin\")\nvar Palpitationsperday = global.get(\"Palpitationsperday\")\nvar Cholestrol = global.get(\"Cholestrol\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar Familyhistory = global.get(\"Familyhistory\")\nvar Smokinglast5years = global.get(\"Smokinglast5years\")\nvar Exerciseminutesperweak = global.get(\"Exerciseminutesperweak\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Averageheartbeatpermin\", \"Palpitationsperday\", \"Cholestrol\",\"BMI\",\"AGE\",\"SEX\",\"Familyhistory\",\"Smokinglast5years\",\"Exerciseminutesperweak\"]],\"values\": [[Averageheartbeatpermin,Palpitationsperday,Cholestrol,BMI,AGE,SEX,Familyhistory,Smokinglast5years,Exerciseminutesperweak]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["d6ba50e5.cb0d"]]},{"id":"d6ba50e5.cb0d","type":"http request","z":"7e7cc250.78237c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/b3eb3594-8f49-419e-a271-f8a094a4e7ca/predictions?version=2021-03-18","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["20450924.07df26","2fd2b993.34e866","bae00327.ca68b"]]},{"id":"20450924.07df26","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]},{"id":"c6a59e60.eed4","type":"debug","z":"7e7cc250.78237c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":320,"wires":[]},{"id":"2fd2b993.34e866","type":"function","z":"7e7cc250.78237c","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nvar p=msg.payload.predictions[0].values[0][1][1]\np=p.toFixed(1)\nif (msg.payload== \"N\")\n{   \n    msg.payload=\n    {\n        'rate':\"May not suffer heart failure\",\n        'pre': p\n    }\n}\nelse\n{\n    msg.payload={\n        'rate':\"Heart failure may possible\",\n        'pre': p\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["c6a59e60.eed4","2041f593.4d0baa"]]},{"id":"2041f593.4d0baa","type":"ui_text","z":"7e7cc250.78237c","group":"6230facd.2469f4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":930,"y":380,"wires":[]},{"id":"bae00327.ca68b","type":"function","z":"7e7cc250.78237c","name":"","func":"var p=msg.payload.predictions[0].values[0][1][0]\np=p*100\np=p.toFixed(1)\nmsg.payload=p\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":340,"wires":[["c6a59e60.eed4"]]},{"id":"6230facd.2469f4","type":"ui_group","name":"heart attack prediction ","tab":"fd931bc3.c0c7d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd931bc3.c0c7d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]