flows (2).json
[{"id":"f40eb5db.be5a08","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2a756baf.04d2f4","type":"ui_form","z":"f40eb5db.be5a08","name":"","label":"","group":"8b3d904.ecf5f7","order":1,"width":0,"height":0,"options":[{"label":"No of Pregnancies","value":"preg","type":"number","required":true,"rows":null},{"label":"Glucose ","value":"plas","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"skin","type":"number","required":true,"rows":null},{"label":"Insulin","value":"test","type":"number","required":true,"rows":null},{"label":"BMI","value":"mass","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"pedi","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":170,"y":380,"wires":[["8e67c6a3.f8edb8","ce2740d4.9d58a"]]},{"id":"8e67c6a3.f8edb8","type":"debug","z":"f40eb5db.be5a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":460,"wires":[]},{"id":"ce2740d4.9d58a","type":"function","z":"f40eb5db.be5a08","name":"pre-token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"I_xCR7YueORBegntAcgFx87Cj7cNc2m8sYmrKNKVdm2O\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[["63bb0248.938d3c"]]},{"id":"63bb0248.938d3c","type":"http request","z":"f40eb5db.be5a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":512.0000038146973,"y":364.00000286102295,"wires":[["ec37fe83.6b9d8","b7a90470.93d588"]]},{"id":"ec37fe83.6b9d8","type":"debug","z":"f40eb5db.be5a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":420,"wires":[]},{"id":"b7a90470.93d588","type":"function","z":"f40eb5db.be5a08","name":"Pre Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar skin = global.get(\"skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \"plas\", \"pres\", \"skin\",\"test\",\"mass\",\"pedi\",\"age\"]],\"values\": [[preg,plas,pres,skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":704.0000076293945,"y":316.0000021457672,"wires":[["6032e677.f82fd8"]]},{"id":"6032e677.f82fd8","type":"http request","z":"f40eb5db.be5a08","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/c7700925-342f-42a8-8734-2b6fbed834b2/predictions?version=2020-10-18","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":340,"wires":[["15556f86.88773","341ee7cc.dbc4d8"]]},{"id":"15556f86.88773","type":"debug","z":"f40eb5db.be5a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":220,"wires":[]},{"id":"3ef1d897.ede5c8","type":"inject","z":"f40eb5db.be5a08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":220,"wires":[["ce2740d4.9d58a"]]},{"id":"341ee7cc.dbc4d8","type":"function","z":"f40eb5db.be5a08","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":759.6000595092773,"y":248.00000190734863,"wires":[["ffd2cbd7.d16338"]]},{"id":"7f5b894f.dbef68","type":"ui_text","z":"f40eb5db.be5a08","group":"8b3d904.ecf5f7","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":990,"y":440,"wires":[]},{"id":"ffd2cbd7.d16338","type":"function","z":"f40eb5db.be5a08","name":"","func":"if(msg.payload==1)\n{\n    msg.payload=\"There is a high chance of developing diabetis\"\n}\nelse{\n    msg.payload=\"Low chance of diabetes\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":240,"wires":[["7f5b894f.dbef68"]]},{"id":"8b3d904.ecf5f7","type":"ui_group","z":"","name":"User Details","tab":"f5d16812.e323b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5d16812.e323b8","type":"ui_tab","z":"","name":"Diabetes-mellitus-prediction-using-IBM-Auto-AI-service","icon":"dashboard","disabled":false,"hidden":false}]